body{
    background-color: #5c5d5d;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 0%;
}
#header{
    width: 100%;
    height: 45px;
    display: flex;
}
/*Center Content*/
#center{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 1.5cm;
    left: 6cm;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#center label{
    text-align: center;
}
/*Tabs*/
/*Account*/
#account-tab{
    height: 400px;
    width: 600px;
    position: absolute;
}
#account-tab .oreui-window-header, #account-tab .oreui-window{
    background-color: rgb(76, 249, 162);
}
#account-tab .oreui-window #profile-header{
    height: 100px;
    width: 93%;
    position: absolute;
    left: 20px;
}
#account-tab .oreui-window #profile-body{
    height: 198px;
    max-height: 198px;
    width: 100%;
    position: absolute;
    left: 6px;
    top: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    image-rendering: pixelated;
}
#account-tab .oreui-window #profile-info-project{
    position: absolute;
    left: 410px;
    height: auto;
    width: 178px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    cursor: pointer;
}
#account-tab .oreui-window #profile-info-project label{
    text-align: left;
    width: auto;
    margin: 0 2;
}
#account-tab .oreui-window #projects-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 68%;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
#account-tab .oreui-window #profile-icon{
    width: 64px;
    height: 64px;
    position: relative;
    top: 50px;
    left: 10px;
    outline: 3px solid #1e1f1f;
}
#account-tab .oreui-window #profile-username{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
#account-tab .oreui-window #profile-username-panel{
    position: absolute;
    top: 120px;
    left: 0px;
}
/*Realms*/
#realms-tab{
    height: 400px;
    width: 600px;
    position: absolute;
}
#realms-tab .oreui-window-header, #realms-tab .oreui-window{
    background-color: rgb(249, 76, 171);
}
/*Create Project*/
#create-project-tab{
    height: 400px;
    width: 620px;
    position: absolute;
}
#create-project-tab .oreui-window-header, #create-project-tab .oreui-window{
    background-color: rgb(0, 149, 255);
}
#create-project-tab #create-project-panel{
    height: 400px;
    width: 600px;
    position: absolute;
    top: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#create-project-tab #create-project-description{
    height: 130;
    width: 250;
    resize: none;
    margin: 7 6;
}
#create-project-tab #create-project-title{
    height: 32;
    width: 250;
    resize: none;
    margin: 4 6;
}
#create-project-tab #create-project-tags{
    height: 32;
    width: 250;
    resize: none;
    margin: 7 6;
}
#create-project-tab .oreui-button{
    width: 150;
    margin: 4 6;
}
#create-project-tab #create-project-thumb{
    width: 350;
    height: 175;
    aspect-ratio: 16/4;
    display: flex;
    color: #757575;
    background-color: #313233;
    outline: #1e1e1f dashed 2px;
    justify-content: center;
    align-items: center;
    transform: scale(0.95, 0.95);
    transition: transform 100ms ease-in-out;
}
#create-project-tab #create-project-thumb:hover{
    outline: #c1c1c4 dashed 2px;
    transform: scale(1, 1);
    transition: transform 100ms ease-in-out;
}
#create-project-tab #create-project-thumb img{
    width: 100%;
    height: 100%;
    display: flex;
}
#create-project-tab #create-project-thumb #image-area{
    width: 100%;
    height: 100%;
    position: absolute;
}
#create-project-tab #create-project-thumb #input-thumb{
    width: 100%;
    height: 100%;
    display: none;
}
/*End of Tabs Screens*/
/*Login and Register*/
#login-and-register{
    height: 400px;
    width: 600px;
    position: absolute;
}
#login-and-register .oreui-window-header, #login-and-register .oreui-window{
    background-color: rgb(255, 225, 32);
}
#login-and-register .oreui-window{
    justify-content: center;
    align-items: center;
}
#login-and-register .oreui-window #login{
    width: 600px;
    height: 400px;
    max-width: 600px;
    max-height: 400px;
    position: absolute;
    top: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login-and-register .oreui-window #login label{
    margin: 4 0;
}
#login-and-register .oreui-window #login .oreui-button{
    margin: 6 0;
}

#login-and-register .oreui-window #register{
    width: 600px;
    height: 400px;
    max-width: 600px;
    max-height: 400px;
    position: absolute;
    top: 0px;
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login-and-register .oreui-window #register label{
    margin: 4 0;
    display: flex;
    align-items: left;
    justify-content: left;
}
#login-and-register .oreui-window #register .oreui-button{
    margin: 6 0;
}
#login-and-register .oreui-window #errors-list{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 170px;
    height: 150px;
    top: 100px;
    left: 10px;
    align-items: center;
    justify-content: center;
}
#login-and-register .oreui-window #errors-list #errors-console{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    width: 170px;
    height: 120px;
    top: 100px;
    left: 10px;
}
#login-and-register .oreui-window #errors-list label{
  text-align: left;
  position: relative;
  top: -2px;
}

/*Error Screen*/
#error-screen{
    height: 400px;
    width: 600px;
    position: absolute;
}
#error-screen .oreui-window-header, #error-screen .oreui-window{
    background-color: rgb(255, 32, 32);
}
#error-screen #panel{
    height: 400px;
    width: 600px;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Verification Screen*/
#verification-screen{
    height: 400px;
    width: 600px;
    position: absolute;
    animation: shake 2s;
    animation-iteration-count: infinite;
}
#verification-screen .oreui-window-header, #verification-screen .oreui-window{
    background-color: rgb(32, 255, 80);
}
#verification-screen #verification-panel{
    height: 400px;
    width: 600px;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#verification-screen .oreui-button{
    margin: 6 0;
}
/*Sign in*/
#need-sign-screen{
    height: 400px;
    width: 600px;
    position: absolute;
}
#need-sign-screen .oreui-window-header, #need-sign-screen .oreui-window{
    background-color: rgb(70, 213, 252);
}
#need-sign-screen .oreui-button{
   margin: 6 0;
}
#need-sign-screen #need-sign-panel{
    height: 400px;
    width: 600px;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*End of Others Screens*/
/*Navigation*/
#navigation{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 4 0;
}
#navigation #creationsNav{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
#navigation #generalNav{
    width: 100%;
    height: 116px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
#navigation #creatorNav{
    width: 100%;
    height: 116px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
#navigation label{
    text-align: center;
    color: white;
    padding: 1% 0;
}
#navigation .oreui-button-icon{
    width: 188px;
    padding: 3% 0;
    position: relative;
    bottom: 10px;
    left: 4px;
}